.options {
  display: inline-flex;
  flex-direction: column;
}

.options-group {
  margin: 0 0 8px 0;
}

.options-group input[type=text] {
  width: 216px;
}

.options-group button {
  height: 32px;
  width: 32px;
  margin-left: 4px;
}

textarea {
  width: 250px;
  padding: .5rem;
  border: 1px solid #e5e7eb;
  border-radius: .375rem;
}