/* Use a sans-serif font family globally */
html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.form-group {
  margin-bottom: 8px;
}

.form-group label {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.form-group input {
  padding: .5rem;
  border: 1px solid #e5e7eb;
  border-radius: .375rem;
  width: 250px;
}

button {
  border: 0;
  padding: .5rem .75rem;
  border-radius: .375rem;
  margin-right: 4px;
}

.primary {
  background: #2563eb;
  color: white;
}

.primary:disabled {
  opacity: .6;
}

.msg {
  border-radius: .375rem;
  padding: 14px;
  margin: 8px 0;
  width: 340px;
}

.success {
  background-color: rgba(0, 255, 17, 0.2);
  border: 1px solid rgba(0, 255, 17, 0.7);
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.7);
}

.error-label {
  color: red;
  display: inline-block;
}

.margin-left100 {
  margin-left: 100px;
}